<?xml version="1.0"?>

<model>
  <name>roscar_100</name>
  <version>1.0</version>
  <sdf version="1.6">roscar_100.SLDPRT.sdf</sdf>

  <author>
    <name>Oscar</name>
    <email>ogonzalez@ctrl.cinvestav.mx</email>
  </author>

  <author>
    <name>CINVESTAV</name>
  </author>

  <description>
    Senal de limite de velocidad 100km/h, escala 1/10
  </description>
</model>
